@import "latte.css";

* {
   /* reference the color by using @color-name */
   color: @text;
   font-family: monospace;
}

window#waybar {
   /* you can also GTK3 CSS functions! */
   /* background-color: shade(@base, 0.9); */
   /* border: 2px solid alpha(@crust, 0.3); */

   background-color: @base;
   border: 2px solid @crust;
}

#workspaces button {
   padding: 0 2px;
}

#workspaces button.focused {
   background-color: @surface2;
   border: 2px solid @base;
}

#workspaces button:hover {
   background-color: @muave;
   border: 2px solid @base;
   color: @crust;
   padding: 0 3px;
}

#pulseaudio {
   padding: 0 10px;
}
